<%Routine.all.each do |routine|%>
<b><u><%=routine.routine_name%></b></u>
<br>
<u>Day of the Week:</u> <%=routine.routine_days%>
<br>
<u> Routine:</u> <%=routine.routine_content%>
<br>
<br>
<a href="/routines/<%=routine.id%>/edit">Edit Routine</a>
<br>
<a href="/routines/<%=routine.routine_name%>">Delete Routine</a>
<br>
<%end%>
