<a href="/home">HomePage</a>
<br>
<br>

<%current_user.routines.each do |routine|%>
<b><u><%=routine.routine_name%></b></u>
<br>
<u>Day of the Week:</u> <%=routine.routine_days%>
<br>
<u> Routine:</u> <%=routine.routine_content%>
<br>
<br>
<a href="/routines/<%=routine.id%>/edit">Edit Routine</a>
<br>
<form action="/routines/<%=routine.id%>" method="POST">
  <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Routine"/>
</form>
<br>
<%end%>
